@model ProyectoFinal.Models.Contratos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contratos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDContrat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
