@model IEnumerable<ProyectoFinal.Models.Contratos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ff)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ff)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDContrat }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDContrat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDContrat })
        </td>
    </tr>
}

</table>
